{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Vernehmlassung 2000 {% endblock %}</h1>
	<form method="get">
	  <div class="form-group">
		<label for="consultation_id" value="{{ request.args['consultation_id'] }}">Fedlex Nummer der Vernehmlassung</label>
		<input type="text" class="form-control" name="consultation_id" aria-describedby="fedlexlHelp" value="{{ consultation_id }}" placeholder="172.010.1">
		<small id="fedlexHelp" class="form-text text-muted">Fedlex Nummer für die eine Vernehmlassung gestartet werden sll (z.B. 172.010.1).</small>
	  </div>
	  <button type="submit" class="btn btn-primary">Vernehmlassung laden</button>
    </form>
    <form>
    {% for key in content %}
		<div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="{{key}}_text" name="{{key}}_text" rows="3">
			{{ content[key]['text'] }}
          </textarea>
        </div>
		<div class="form-group">
          <input class="form-control form-control-lg" id="{{key}}_comment" name="{{key}}_comment"type="text" placeholder="Kommentar">
        </div>
    {% endfor %}
    </form>
		

{% endblock %}

